.bookCollection-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
}

.bookCollection-titles {
  text-align: center;
}

.bookCollection-titles h2 {
  margin-top: 0.5rem;
}

.bookCollection-products {
  display: flex;
  gap: 0.5rem;
}
