.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  width: fit-content;
  transition: all 0.4s ease;
}

.button {
  padding: 10px 10px;
  width: 100%;
}

.button.primary {
  background: var(--sensation-yellow);
  border: 1px solid var(--sensation-yellow);
  color: var(--main-bg);
}

.button.white {
  background: var(--main-bg);
  border: 1px solid var(--main-bg);
  color: var(--sensation-yellow);
}

.button.transparent {
  background: transparent;
  border: 1px solid var(--sensation-yellow);
  color: var(--sensation-yellow);
}

@media (hover: hover) {
  .button:hover {
    transform: translateY(-3px);
  }

  .button.primary:hover {
    background-color: #c5a472;
    border-color: #c5a472;
  }
  .button.transparent:hover {
    background-color: var(--sensation-yellow);
    border-color: var(--sensation-yellow);
    color: var(--main-bg);
  }

  .button.white:hover {
    opacity: 0.8;
  }
}

@media (min-width: 768px) {
  .button.small {
    padding: 8px 60px;
    font-size: 1rem;
  }

  .button.medium {
    padding: 10px 60px;
  }

  .button.large {
    padding: 10px 120px;
  }

  .button.full {
    padding: 10px 10px;
    width: 100%;
  }
}
