.hero {
  width: 100%;
  height: calc(100vh - 88px);
  position: relative;
  display: flex;
  align-items: center;
  color: var(--main-bg);
}

.hero-container,
.hero-text,
.hero-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-container {
  gap: 4rem;
}

.hero-buttons {
  gap: 1.5rem;
}

.hero video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -10;
  filter: brightness(0.8);
}

.hero p {
  max-width: 50vw;
}
