.productCard.secondary a {
  background-color: var(--secondary-bg);
}

.productCard a {
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg);
  transition: background-color 0.2s ease;
}

.productCard figcaption {
  display: none;
}

.productCard-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 14px;
}

.productCard-title {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: var(--sensation-black);
}

@media (hover: hover) {
  .productCard.secondary a:hover {
    background-color: var(--main-bg);
  }
  .productCard a:hover {
    background-color: var(--secondary-bg);
  }
}

@media (min-width: 768px) {
  .productCard-title {
    font-size: 0.75rem;
  }
}
