.howItWorks-container {
  display: flex;
  flex-direction: column;
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.howItWorks-steps {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 2.5rem;
  position: relative;
}

.icon-part,
.promotion {
  background-color: var(--secondary-bg);
  color: var(--sensation-yellow);
}

.icon-part {
  display: flex;
  flex-direction: column;
}

.icon-part .icons {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 6rem;
}

.step {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  position: relative;
  height: 22rem;
  text-align: center;
  position: relative;
}

.step-one .icon-part,
.step-two .icon-part {
  position: relative;
  flex-basis: 58%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.step-one .text-part,
.step-two .text-part {
  flex-basis: 42%;
  padding: 1rem;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
}

.step-one .text-part {
  background-image: url("../../assets/images/hiw-bg1.png");
}

.step-two .text-part {
  background-image: url("../../assets/images/hiw-bg2.png");
}

.blur {
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(3px);
  padding: 0.75rem;
  width: 100%;
}

.blur .button {
  filter: brightness(0.1);
  margin-top: 1.5rem;
}

.promotion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: relative;
  padding: 2rem 1.5rem;
}

.promotion-buttons {
  display: flex;
  gap: 2rem;
}

.promotion-busy {
  text-align: center;
}

.stars {
  display: flex;
  gap: 0.5rem;
}

.star.gray {
  filter: grayscale(1);
}

.step-one .icon-part::after,
.step-two .text-part::after {
  position: absolute;
  right: -3rem;
  top: 45%;
  z-index: 4;
  width: 65px;
  height: 65px;
  border-radius: 100%;
  border: 2px solid var(--sensation-yellow);
  color: var(--sensation-yellow);
  font-size: 3rem;
  background-color: var(--main-bg);
  font-family: var(--title-font);
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-one .icon-part::after {
  content: "1";
}

.step-two .text-part::after {
  content: "2";
}

.step-one .block,
.step-two .block {
  height: 24.2rem;
  position: absolute;
}

.step-one .block {
  width: 27%;
  right: -1rem;
  border-right: 2px dashed var(--sensation-yellow);
  border-bottom: 2px dashed var(--sensation-yellow);
}

.step-two .block {
  width: 14%;
  left: -1rem;
  border-left: 2px dashed var(--sensation-yellow);
  border-bottom: 2px dashed var(--sensation-yellow);
}

.promotion .block {
  width: 15%;
  height: 18rem;
  position: absolute;
  left: 50%;
  top: -1rem;
  border-left: 2px dashed var(--sensation-yellow);
  z-index: -1;
}

.promotion .block::after {
  content: "\21E3";
  position: absolute;
  bottom: -2.5rem;
  left: -0.7rem;
  font-size: 2rem;
}

@media (max-width: 768px) {
  .step {
    flex-direction: column;
  }

  .step-one .icon-part,
  .step-one .text-part,
  .step-two .text-part,
  .step-two .icon-part {
    flex-basis: 100%;
  }

  .step-two .icon-part {
    order: 0;
  }
}
