.thanks-container {
  flex-direction: column;
  margin-top: 4rem;
  padding-bottom: 4rem;
  align-items: center;
}

.thanks-for {
  display: flex;
}

.thanks-container .button {
  margin-top: 4rem;
}
